body {
    background-image: url();
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin skillProfile($url){
    background: url($url);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30vh;
    height: 30vh;
}